@use '../../../styles' as styles;

.banner {
  background-color: styles.$bg-surface-color;

  .banner-content {
    .title {
      font-size: 2.7rem;
      line-height: 3.5rem;
      text-transform: uppercase;
    }
  }
}
