:host {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  padding-block: 81px;
  padding-inline: 200px;
}

@media (max-width: 768px) {
  :host {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    padding-inline: 20px;
    gap: 20px;
  }
}
