:host {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding-block: 81px;
  padding-inline: 200px;
  border-top: 1px solid hsla(0,100%,100%,0.1);
  justify-content: space-between;
}

:first-child {
  justify-self: start;
}

.sitemap {
  justify-self: center;
}

.contact-section {
  justify-self: end;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.mail {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: min-content;
  padding: 0;
  margin: 0;
}

@media (max-width: 979px) {
  :host {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    padding-inline: 30px;
    & > * {
      justify-self: start;
      line-height: 2rem;
    }
  }
}
