@use '../../../styles' as styles;

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
  padding-inline: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: hsla(222, 65%, 5%, 50%);
  backdrop-filter: blur(20px);
  z-index: 10000;
  border-bottom: 1px solid hsla(0, 100%, 100%, 0.1);
  width: calc(100vw - 40px);
  &.menu-open {
    background: hsla(222, 65%, 5%, 100%);
  }
}

.nav {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: hsla(222, 65%, 5%, 100%);
  padding: 20px;
  gap: 1rem;

  &.show {
    display: flex;
    align-items: end;
  }
}

.menu-button {
  justify-self: end;
  display: block;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Removed the problematic media query rule that hid .nav on small screens */

@media (min-width: 1440px) {
  :host {
    position: fixed;
    padding-block: 50px;
  }

  .nav {
    display: flex;
    flex-direction: row;
    position: static;
    background: none;
    padding: 0;
    gap: 33px;
  }

  .menu-button {
    display: none;
  }
}
