h1, h2 {
  font-size: 2.7rem;
  line-height: 3.5rem;
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
}

@media (max-width: 480px) {
  h1, h2 {
    font-size: 2.2rem;
    line-height: 3rem;
  }
}
