@use '../../../styles' as styles;

.banner-content {
  p {
    margin-block: 1.125rem;
  }
}

.social-media {
  .instagram-images {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;

    img {
      width: 250px;
      height: auto;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease-in-out; /* Add transition for smoother effects */

      &:nth-child(1) {
        transform: rotate(-15deg);
        margin-right: -50px; /* Overlap effect */
        z-index: 1;
      }

      &:nth-child(2) {
        transform: rotate(0deg);
        z-index: 2; /* Middle image on top */
      }

      &:nth-child(3) {
        transform: rotate(15deg);
        margin-left: -50px; /* Overlap effect */
        z-index: 1;
      }
    }
  }
}

@media (max-width: 768px) {
  .social-media {
    .instagram-images {
      flex-direction: column;
      gap: 1rem;

      img {
        width: 80%;
        max-width: 250px;
        transform: none !important;
        margin: 0 !important;
        position: static;
      }
    }
  }
}
