@use '../../../../../styles' as styles;

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: styles.$bg-surface-color;
  border: 1px solid hsla(0, 100%, 100%, 0.1);
  border-radius: 8px;
  padding: 3rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  h3 {
    margin:0;
    padding: 0;
    line-height: 1.5em;
  }
  p {
    padding: 1em 0 0 0;
    margin: 0;
    line-height: 1.5em;
  }
}

.card-list {
  text-align: start;
  align-items: start;
}
