<div class="banner-content">
  <div class="text-box">
    <h1 class="tittle x-bold">Zmiana zaczyna się dziś</h1>
    <p>Od ponad 11 lat skutecznie pomagam ludziom w zmienianiu swojego życia na lepsze. Zmiana nawyków, zbudowanie formy, zrzucenie zbędnych kilogramów - jakikolwiek jest Twój cel, pomogę Ci go osiągnąć!</p>
    <div class="bottom-text">
      <p class="text-sm">Napisz do mnie i zacznijmy wspólnie Twoją zmianę!</p>
      <app-button (click)="navigateTo('/consultation')">Umów się na konsultację</app-button>
    </div>
  </div>
  <img class="profile-image" ngSrc="/trener-profile.png" alt="Profile image of the trainer" priority width="474" height="849">
</div>
