<div class="satisfaction">
  <p #animatedNumber class="text-massive x-bold" data-target="462">0</p>
  <p>osiągnięte cele</p>
</div>
<div class="hours">
  <p #animatedNumber class="text-massive x-bold" data-target="2396">0</p>
  <p>godzin wspólnych treningów</p>
</div>
<div class="mass">
  <p #animatedNumber class="text-massive x-bold" data-target="1268">0</p>
  <p>wspólnie zrzuconych kilogramów</p>
</div>
<div class="calories">
  <p #animatedNumber class="text-massive x-bold" data-target="28" data-suffix="k+">0</p>
  <p>spalonych kalorii</p>
</div>
