:host {
  display: block;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  padding-block: 4rem;
  padding-inline: 200px;
  align-items: center;
  box-sizing: border-box;
}

.left-column {
  justify-self: start;
}

.right-column {
  justify-self: end;
}

@media (max-width: 1245px) {
  .section {
    grid-template-columns: 1fr;
    gap: 2rem; /* Adjust gap for mobile */
    padding-inline: 30px; /* Mobile padding */
  }

  .left-column,
  .right-column {
    justify-self: stretch; /* Allow columns to stretch full width */
  }
}
