
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
}

.contact-info {
  display: flex;
  gap: 1rem;

  app-text-input {
    flex: 1 1 0;
    min-width: 0;
    width: 100%;
  }
}
